<div class="header">
  <div class="logo"></div>
  <ul class="header_menu">
    <a href="/"><li>Home</li></a>
    <a href="/mastermind"><li>Mastermind</li></a>
    <a href="/movies"><li>Aplikacja filmowa</li></a>
    <a href="/users"><li>Uzytkownicy</li></a>
    <a href="/about"><li>O projekcie</li></a>
    <% if(typeof user === 'undefined') { %>
    <a href="#"><li id="logowanie" class="special_button">Zaloguj sie</li></a>
    <a href="#"><li id="rejestracja" class="special_button">Zaloz konto</li></a>
    <% } else { %>
    <a href="/logout"><li id="wyloguj" class="special_button">Wyloguj</li></a>
    <% } %>
  </ul>
</div>
