<div class="left_side">
  <div class="rules">
    <h1>Mastermind</h1>
    Zasady gry:<br /><br />
    1. <b>codeSize</b><br />
    <i>Jest to ilosc pol do odgadniecia.</i><br /><br />
    2. <b>maxColors</b><br />
    <i>Ustala zakres liczb do odgadniecia od 0 do maxColors.</i><br /><br />
    3. <b>maxMoves</b><br />
    <i>Określa ilośc możliwych pomyłek popełnionych przez gracza.</i><br /><br />
    Program na podstawie wprowadzonych danych generuje tablice "sekret", ktorą gracz ma za zadanie odgadnąc.
  </div>
  <div class="rules">
    <h1>Users online</h1>
    <% if(typeof user !== 'undefined') { %>
      <%- user.login %>
    <% } %>
  </div>
</div>

<script src="/jquery/register_pop.js"></script>
<script src="/jquery/register.js"></script>
<script src="/jquery/sign.js"></script>

<div class="magic">
  <div class="register_form">
    <form action="#">
      <ul>
        <li><span>Podaj login:</span><input type="text" id="register_login" placeholder="Twoj login" /></li>
        <li><span>Podaj haslo:</span><input type="password" id="register_password" placeholder="Twoje haslo" /></li>
        <li><span>Podj adres e-mail:</span><input type="text" id="register_email" placeholder="Twoj adres e-mail" /></li>
        <br />
        <li><input type="submit" id="register" value="Stworz konto" /></li>
      </ul>
    </form>
  </div>

  <div class="login_form">
    <form action="">
      <ul>
        Możesz skorzystac z testowego konta user/user
        <li><span>Podaj login:</span><input type="text" id="login" placeholder="Twoj login" /></li>
        <li><span>Podaj haslo:</span><input type="password" id="password" placeholder="Twoje haslo" /></li>
        <br />
        <li><input type="submit" id="sign" value="Zaloguj sie" /></li>
      </ul>
    </form>
  </div>
</div>
