<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link href="/css/global.css" rel="stylesheet" type="text/css" />
  <script src="/js/jquery.min.js"></script>
</head>
<body>
  <%- include("_header.ejs") %>
  <%- include("_leftMenu.ejs") %>
  <div class="right_side">
    Nie jestes zalogowany synek xD
    <input type="submit" id="wyloguj" style="display: none" value="wyloguj"/>
  </div>
  <script>
    $().ready(function() {
      $("#wyloguj").click(function() {
        $.ajax({
          url: '/logout',
          type: 'POST',
          data: JSON.stringify(),
          contentType: 'application/json; charset=UTF-8',
          dataType: 'json',
          async: false,
          success: function() {}
        });
      });
    });
  </script>
  <%- include("_footer.ejs") %>
</body>
</html>
