<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link href="/css/global.css" rel="stylesheet" type="text/css" />
  <script src="/js/jquery.min.js"></script>
</head>
<body>
  <%- include("_header.ejs") %>
  <%- include("_leftMenu.ejs") %>
  <div class="right_side">
    <div class="centrowicz">


      <% if(typeof user !== 'undefined') { %>
      Siemaaaanko zalogowany uzytkowniku. Szacuneczek, bo Twoj nick to <%- user.login %>
      <% } else { %>
      <div class="komunikat">
        <h1>Jesteś niezalogowany!</h1>
        Użytkownicy niezalogowani nie posiadają dostępu do większości z dostępnych zasobów strony.<br />
        Stwórz konto i zaloguj się, by móc grać w grę "Mastermind" i zapisywać swoje wyniki do bazy danych. <br />
        Twoje wyniki będą wyświetlane w zakładkach "Profil" oraz "Ranking" - w drugim zapoznasz się z wynikami innych użytkowników.<br /><br />
        <ul>
          <a href="#"><li id="komunikat_logowanie" class="special_button">Zaloguj sie</li></a>
          <a href="#"><li id="komunikat_rejestracja" class="special_button">Zaloz konto</li></a>
        </ul>
      </div>
      <% } %>
    </div>
  </div>
  <%- include("_footer.ejs") %>
</body>
</html>
