<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link href="/css/global.css" rel="stylesheet" type="text/css" />
  <script src="/js/jquery.min.js"></script>
  <script src="/jquery/register.js"></script>
</head>
<body>
  <%- include("_header.ejs") %>
  <%- include("_leftMenu.ejs") %>
  <div class="right_side">
    <div class="register_form">
      <form action="#">
        <ul>
          <li><span>Podaj login:</span><input type="text" id="login" placeholder="Twoj login" /></li>
          <li><span>Podaj haslo:</span><input type="password" id="password" placeholder="Twoje haslo" /></li>
          <li><span>Podj adres e-mail:</span><input type="text" id="email" placeholder="Twoj adres e-mail" /></li>
          <li><input type="submit" id="register" /></li>
        </ul>
      </form>
    </div>
  </div>
  <%- include("_footer.ejs") %>
</body>
</html>
