<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link href="/css/global.css" rel="stylesheet" type="text/css" />
  <script src="/js/jquery.min.js"></script>
  <script src="/jquery/sign.js"></script>
</head>
<body>
  <%- include("_header.ejs") %>
  <%- include("_leftMenu.ejs") %>
  <div class="right_side">
    <form action="#">
      <input type="text" id="login" placeholder="Podaj login" />
      <input type="password" id="password" placeholder="Podaj haslo" />
      <input type="submit" id="sign" />
    </form>
  </div>
  <%- include("_footer.ejs") %>
</body>
</html>
